.element{
    display: flex;
    justify-content: center;
    // background: #0092ff;
    padding: "8px 0",
}

.img{
    width:100%;
    max-width:600px;
}

$mobile: 1200px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@include mobile {
  .ant-row {
   flex-direction: column !important;
  }}

@function color($color-name) {
  @return map-get($colors, $color-name);
}
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}